networks:
  proxy_net:
    driver: bridge
    name: proxy-net
  ft:
    driver: bridge
    name: transcendence-net
  elk:
    name: elk-net
    driver: bridge
  monitor_net:
    driver: bridge
    name: monitoring-net

volumes:
  logs:
    name: logs-volume
  prometheus_data:
    name: prom-data
  grafana_data:
    name: graf-data
  db_data:
    name: db-data

include:
  - docker/vault/docker-compose.yml
  - docker/elk/compose.yml
  - docker/monitoring/compose.yml
  - docker/nginx/compose.yml
  - docker/postgres/compose.yml
  - docker/nodjs/compose.yml
