services:
  nginx:
    image: quay.io/nginx/nginx-unprivileged:alpine3.22
    container_name: nginx
    ports:
      - "8080"
    networks:
      - ft
      - n_logs
      - proxy_net
    volumes:
      - ./conf/default.conf:/etc/nginx/conf.d/default.conf:z
      - ./html:/usr/share/nginx/html:z
    restart: on-failure
