services:
  modsecurity:
    image: owasp/modsecurity-crs:4-nginx-alpine-202601060501
    container_name: modsecurity
    ports:
      - "8080:8080"
      - "8443:8443"
    environment:
      # CRS config
      - PARANOIA=2
      - BLOCKING_PARANOIA=2
      - ANOMALY_INBOUND=5
      - ANOMALY_OUTBOUND=4
      # Backend server
      - BACKEND=http://mock-app:80
      # ModSecurity engine
      - MODSEC_RULE_ENGINE=On
      # Audit logging
      - MODSEC_AUDIT_ENGINE=RelevantOnly
      - MODSEC_AUDIT_LOG=/var/log/modsec/modsec_audit.log
      - MODSEC_AUDIT_LOG_FORMAT=JSON
      - MODSEC_AUDIT_LOG_PARTS=ABFHZ
      # Debug (désactivé pour éviter les erreurs de permissions)
      - MODSEC_DEBUG_LOG=/var/log/modsec/modsec_debug.log
      - MODSEC_DEBUG_LOG_LEVEL=0
      # Request body
      - MODSEC_REQUEST_BODY_ACCESS=On
      - MODSEC_REQUEST_BODY_LIMIT=13107200
      - MODSEC_REQUEST_BODY_LIMIT_ACTION=Reject
      # Response body
      - MODSEC_RESPONSE_BODY_ACCESS=Off
    volumes:
       - ./conf/modsecurity-custom.conf:/etc/modsecurity.d/owasp-crs/rules/99-custom.conf
       #- ./conf/RESPONSE-999-EXCLUSION-RULES-AFTER-CRS.conf:/etc/modsecurity.d/owasp-crs/rules/RESPONSE-999-EXCLUSION-RULES-AFTER-CRS.conf
       - ./certs/cert.pem:/etc/nginx/conf/server.crt:ro
       - ./certs/key.pem:/etc/nginx/conf/server.key:ro
       - ./logs:/var/log/modsec
       - ./logs/nginx:/var/log/nginx
       - ./conf/nginx-rate-limit.conf:/etc/nginx/conf.d/rate-limit.conf:ro

  mock-app:
    image: nginx:alpine
    container_name: mock-app
    volumes:
      - ./conf/index-mock.html:/usr/share/nginx/html/index.html:ro